APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=planningpoker
DB_USERNAME=application
DB_PASSWORD=secret

CACHE_DRIVER=apc
SESSION_DRIVER=redis
QUEUE_DRIVER=redis

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
